/* 1.1-2 */
:root {
  background: white;
  color: black;
}

/* 1.3 */
h1 {
  background: blue;
}

/* 1.4 */
.green {
  color: green;
}
/* 1.5 */
#blue {
  color: blue;
}
/* 1.6 */
.box>p {
  background: red;
}
/* 1.6 */
.box>div {
  background: green;
}
/* 1.7 */
.brown {
  background: brown;
  color: white;
}
/* 1.8 */
ul>li {
  background: #ff0000;
}
/* 1.9 */
.header-button+span {
  background: red;
}
/* 1.10 */
.susid~p {
  background: blue;
  color: white;
}
/* 1.11 */
.salo,#bread {
  background: yellow;
}
/* 2.1 */
.first-task>ul>li:first-child {
  color: white;
}
/* 2.2 */
.second-task>ul:first-child>li:first-child {
  color: yellow;
}
/* 2.3 */
.third-task>ul:last-child>li:first-child {
  background: yellow;
}
/* 2.4 */
.four-task>ul>li:last-child {
  background: yellow;
}
/* 2.5 */
.five-task>ul:last-child>li:last-child {
  color: white;
}
/* 2.6 */
.only-child-task>div:only-child {
  color: red;
}
/* 2.7 */
.seven-task>p:first-of-type {
  background: red;
}
/* 2.8 */
.eight-task>span:last-of-type {
  background: red;
}
/* 2.9 */
.nine-task>.text-wrapper>p:only-of-type {
  background: yellow;
}
/* 3.1 */
.lesson-three-task-one>nav>ul>li>a[href] {
  color: white;
}
/* 3.2 */
.lesson-three-task-two>li[value] {
  color: yellow;
}
/* 3.3 */
.lesson-three-task-three>li[value="3"] {
  background: red;
}
/* 3.4 */
.lesson-three-task-four>button[class~="primary"] {
  background: blue;
}
/* 3.5 */
.lesson-three-task-five>button[class|="secondary"] {
  background: red;
}
/* 3.6 */
.lesson-three-task-six>ul>li[class^="b"] {
  background: white;
  color: green;
}
/* 3.7 */
.lesson-three-task-seven>ul>li[class*="on"] {
  background: white;
  color: green;
}
/* 3.8 */
.lesson-three-task-eight>ul>li>span[class$="s"] {
  background: white;
  color: blue;
}
/* 3.9 */
.lesson-three-task-nine>h2::first-letter {
  color: red;
}
/* 3.10 */
.lesson-three-task-ten>p:first-of-type::first-line {
  background: yellow;
}
/* 3.11 */
.lesson-three-task-eleven>input::placeholder {
  background: red;
}
/* 3.12 */
.lesson-three-task-twelve>ul>li::before {
  content:"â¤";
}
/* 3.13 */
.lesson-three-task-thirteen>ul>li::after {
  content:"â¤";
}
